extends layout

block content
    h1.w3-center= title

    div.w3-col.l12.s12.w3-padding-16
        div.w3-col.s12.l6.w3-black.w3-center.w3-border.w3-border-black
            h3.w3-container Regression Test 1
            div.w3-container.w3-white.w3-padding-64
                label Search For Test Result
                input.w3-input(placeholder='Search Here')
            div
                 p Results
        div.w3-col.s12.l6.w3-black.w3-center.w3-border.w3-border-black
            h3.w3-container Regression Test 2
            div.w3-container.w3-white.w3-padding-64
                label Search For Other Test Result
                input.w3-input(placeholder='Search Here')
            div.results
                p Results