doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/click.js')
  body.w3-dark-gray
    block content
